<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731321416013-ld9mro2nq7b7k67raeet4k4bov32nmo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731321416013-ld9mro2nq7b7k67raeet4k4bov32nmo4</string>
	<key>API_KEY</key>
	<string>AIzaSyDtQ-fZshqUpaRWwfmYqktEWdLDI5m8AQc</string>
	<key>GCM_SENDER_ID</key>
	<string>731321416013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.cap</string>
	<key>PROJECT_ID</key>
	<string>babe-careful</string>
	<key>STORAGE_BUCKET</key>
	<string>babe-careful.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731321416013:ios:d3af3d0c8ce90269d39f04</string>
	<key>DATABASE_URL</key>
	<string>https://babe-careful-default-rtdb.firebaseio.com</string>
</dict>
</plist>